* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

img.hoverIMG {
  width: 100%;
  border-radius: 2%;
  min-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  background: white;
}

main {
  margin-left: auto;
  margin-right: auto;
}

main section {
  margin: auto;
  text-align: justify;
  padding-top: 2em;
  padding-bottom: 2em;
}

main section p {
  max-width: 50em;
  min-width: 20em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20em;
  font-size: 1.5em;
}
main section#one p {
  max-width: 23em;
  min-width: 20em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20em;
  font-size: 1.5em;
  text-align: center;
}

main section h1 {
  text-align: center;
  padding-bottom: 1em;
  font-size: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
}

nav {
  padding-top: 20px;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

header {
  position: relative;
  height: 585px;
}

header h1 {
  font-size: 9em;
  font-weight: 400;
}

header h2 {
  font-size: 2.6em;
}

section img.hoverIMG {
  transition: all 0.5s ease;
  position: relative;
  left: 0%;
  z-index: 1;
}

section img.hoverIMG:hover {
  transform: scale(
    1.25
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  position: relative;
  left: 50%;
  box-shadow: 0px 0px 15vh 10px rgba(0, 0, 0, 0.9);
  z-index: 98;
}

section > h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  padding-bottom: 2em;
}

header {
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
  color: #801072;
  background-image: url(../images/dividers/4light.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-bottom: -1px;
}
section#one {
  background-image: url(../images/dividers/4semiLight.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #e6cfe3;
  margin-bottom: -1px;
  color: #801072;
}
section#two {
  background-image: url(../images/dividers/4neutral.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #cc9fc7;
  margin-bottom: -1px;
  color: white;
  min-height: 800px;
}

section#three {
  background-image: url(../images/dividers/4semiDark.svg);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #b370aa;
  margin-bottom: -1px;
  color: white;
  min-height: 800px;
}

section#four {
  background-image: url(../images/dividers/4dark.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #99408e;
  margin-bottom: -1px;
  color: white;
  min-height: 800px;
}

section#five {
  background-image: url(../images/dividers/back4.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #801072;
  margin-bottom: -1px;
  color: white;
  min-height: 800px;
}

section#six {
  background-image: url(../images/dividers/back3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #99408e;
  margin-bottom: -1px;
  color: white;
  min-height: 800px;
}

section#seven {
  background-image: url(../images/dividers/back2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #b370aa;
  margin-bottom: -1px;
  color: white;
  min-height: 800px;
}

div.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  padding-left: 10%;
  padding-right: 10%;
  height: 650px;
  padding-bottom: 10em;
}

footer {
  margin-left: auto;
  margin-right: auto;
  background-color: #cc9fc7;
  color: #801072;
}

footer section {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5em;
}

footer section nav {
  display: flex;
  justify-content: space-between;
}

footer section nav ul li {
  padding-left: 2em;
  padding-right: 2em;
}

footer section nav ul li a {
  background-color: #b370aa;
  box-shadow: 5px 5px 0 #801072;
  color: white;
  padding: 2em 3em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5%;
}

footer section nav ul li a:hover {
  transition: background-color 0.5s ease;
  background-color: white;
  cursor: pointer;
  color: violet;
}

footer section nav ul li a:active {
  box-shadow: none;
  top: 5px;
}

main section ul {
  width: 100%;
  font-size: 1.5em;
  text-align: left;
  list-style: none;
  padding-bottom: 2em;
}

main section#onev2 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/dividers/4semiLight.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #e6cfe3;
  margin-bottom: -1px;
  color: #801072;
}

main section#onev2 section {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

img#bird {
  box-shadow: none;
  width: 400px;
  position: absolute;
  margin-left: 5%;
  margin-top: 28%;
  transform: scaleX(-1);
}

img#car {
  box-shadow: none;
  width: 400px;
  position: relative;
  bottom: 420px;
  right: -40px;
}

img#industry {
  box-shadow: none;
  width: 50%;
  position: relative;
  bottom: 480px;
  right: -40px;
}

img#airplane {
  box-shadow: none;
  width: 50%;
  position: relative;
  bottom: 450px;
  right: -40px;
}

img#antibird {
  box-shadow: none;
  width: 45%;
  position: relative;
  bottom: 450px;
  right: -40px;
}

img#park {
  box-shadow: none;
  width: 45%;
  position: relative;
  bottom: 450px;
  right: -40px;
}

section h2 {
  font-size: 4em;
  padding-bottom: 1em;
  z-index: 99;
}

@media (max-width: 1350px) {
  img#bird {
    display: none;
  }
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
} to {
  transform: translate3d(0, -15px, 0);
}
}

header h1 img {
                position: absolute;
                width: 2.5%;
                padding-top: 17px;
                transform: scaleX(-1);
            animation: bounce 0.4s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
}


